.header-list{
  list-style: none;
}
*{
  box-sizing: border-box;
}
.header-list li{
  display:inline-block;
  margin:10px;
  font-family:serif;
  font-size:24px;
  font-weight:lighter;
}
.header-list {
  display:inline-block;
  text-align:right;
}
.icon{
  display:inline-block;
  font-family:serif;
  font-weight:bold;
  margin-left:30px;
  font-size: 48px;
}
.header{
  height:50px;
}
.main{
  margin-top:50px;
}
.main li{
  margin:0 auto;
  width:60%;
  list-style: none;
}
.footer{
  border-top:solid 1px;
  margin-bottom:100px;
}
.footer ul{
  margin-top:0px;
}
.home{
  text-decoration: none;
  color:black;
}
.policy{
  text-decoration: none;
  color:black;
}
.contact{
  text-decoration: none;
  color:black;
}
.profile{
  text-decoration: none;
  color:black;
}
.notes{
  text-decoration: none;
  color:black;
}
.tools{
  text-decoration: none;
  color:black;
}
.works{
  text-decoration: none;
  color:black;
}
.home:hover{
  color:gray;
}
.policy:hover{
  color:gray;
}
.contact:hover{
  color:gray;
}
.profile:hover{
  color:gray;
}
.notes:hover{
  color:gray;
}
.tools:hover{
  color:gray;
}
.work{
  color:gray;
}
.main a:hover{
  color:gray;
}
.main a{
  color:black;
  text-decoration: none;
  font-weight:bold;
  font-family:serif;
}
h1{
  margin-left: 30px;
  font-family:serif;
  font-weight:bold;
  font-size:20px;
}
.main ul{
  padding-top:50px;
  padding-bottom:50px;

}

.title{
  font-family:serif;
  font-size:30px;
}
.main p{
  font-family:serif;
}
@media(max-width:1000px){
  .header-list{
    display:block;
    margin:0 auto;
    text-align:left;
  }
  .header{
    height:200px;
  }
  .header-list li{
    font-size:36px;
  }
}
@media(max-width:1000px){
  .main li{
    width:80%;
  }
}
@media(max-width:750px){
  .main li{
    width:100%;
  }
  .title{
    font-family:serif;
    font-size:42px;
  }
}
